.DS_Store

# python
*.pyc
dist/
*.egg-info
*.egg
*.egg/
*.eggs/
build/
.cov*
*.xml
# docker
.env
volumes

#virtualenvs
env/
venv/

# ide
.idea/
vscode/

#pytest
.pytest_cache/
__pycache__/
htmlcov/
data/
report.xml
tmp/
# mkdocs
site/
# mypy
.mypy_cache
.tox/
openapi.json
openapi.yaml