name: CI
on:
  pull_request:
    types: [opened, reopened]
  push:
jobs:
  lint:
    runs-on: ubuntu-22.04
    name: lint
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - run: sudo apt-get update && sudo apt-get install -y gcc curl
      - run: curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py | python3 -
      - run: poetry install
      - run: poetry run flake8 ./fastapi_views
      - run: poetry run black --check ./fastapi_views
      - run: poetry run mypy ./fastapi_views

  build:
    timeout-minutes: 30
    strategy:
      matrix:
        os: ["ubuntu-22.04"]
        python: ["3.8", "3.9", "3.10", "3.11"]

    runs-on: ${{ matrix.os }}
    name: test on ${{ matrix.python }} - ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - run: sudo apt-get update && sudo apt-get install -y gcc curl
      - run: curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py | python3 -
      - run: poetry install
      - run: poetry run pytest --cov=./fastapi_views --cov-report=xml -v ./tests
